<h1><%= @season.name %> - Race Weekends</h1>

<% @weekends.each do |weekend| %>
  <%= link_to "#{weekend.gp_title} - #{weekend.timespan}", season_weekend_path(@season, weekend) %>
  <br><br>
<% end %>
<br><br>
<% if cookies[:authed] || Rails.env.development? %>
  <%= link_to "New Weekend", new_season_weekend_path(@season) %>
<% end %>
<br><br>
<%= link_to 'Back', root_path %>
