body {
  font-family: 'f1-regular';
  text-align: center;
}

body.light {
  color: black;
  background-color: white;
  a {
    color: black;
  }
}

body.dark {
  color: white;
  background-color: black;
  a {
    color: white;
  }
}

h1 {
  font-family: 'f1-bold';
}

h3 {
  font-family: 'f1-wide';
}

h4 {
  font-family: 'f1-wide';
}

.logo {
  margin-bottom: 2em;
  margin-top: 2em;
}

input, select, .select2-container {
  margin-top: 1em !important;
}

.select2 {
  margin-top: 1em;
}

input[type="text"], input[type="date"], input[type="time"], select {
  width: 30em;
}

.select2-results__group {
  background-color: lighten(gray, 20%);
}

table {
  margin: 0 auto;
  width: 50%;
  th {
    font-style: italic;
  }
}

.f1 {
  font-weight: 900;
  color: red;
}
